body{margin-top:10px;background-color:#F0F0F0;font-family:Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;text-align:justify;text-justify:inter-word;}
.page-padding{padding:20px 30px;}
.profile-img{display:block;width:150px;height:150px;}
.col-centered{float:none;margin:0 auto;}
.panel{border:none;}
.no-lp{padding-left:0;}
#profile-pic-holder{margin:20px auto 25px;}
#name{font-size:32px;margin-bottom:10px;color:#383838;}
.profile_sub_info{font-size:14px;color:gray;}
.contact-elem{font-size:14px;color:gray;margin-bottom:12px;}
.elem{font-family:Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;color:#606060;margin-bottom:6px;padding-right:15px;}
.elem .heading{font-size:19px;}
.elem .item{font-size:16px;margin-left:30px;margin-bottom:15px;}
.elem .text{font-size:14px;margin-left:30px;margin-top:4px;}
.elem .text-lg{font-size:15px;margin-left:30px;margin-top:3px;}
.elem .text-small{font-size:13px;margin-left:2px;}
.elem hr{margin-top:0;margin-bottom:12px;margin-left:30px;}
.affix-top{position:static;}
.affix{top:10px;padding-right:16px;position:fixed;}
label{font-weight:normal;}
.elem .heading label::first-letter{font-size:22px;}
.skills{margin-left:10px;margin-top:5px;padding-left:10px;}
.fixed-size-square{display:table;width:5px;height:58px;background:#4679BD;}
.fixed-size-square span{display:table-cell;text-align:center;vertical-align:middle;color:white}
html, body{height:100%;}
.page-wrap{min-height:100%;margin-bottom:-85px;}
.page-wrap:after{content:"";display:block;}
.site-footer, .page-wrap:after{height:85px;}
.site-footer{color:#4D4D4D;}
.colorized-nav a{color:#ffffff;}
.colorized-nav{background:#3B5998;background:-moz-linear-gradient(45deg, #3B5998 0%, #336699 100%);background:-webkit-gradient(linear, left bottom, right top, color-stop(0%,#3B5998), color-stop(100%,#336699));background:-webkit-linear-gradient(45deg, #3B5998 0%,#336699 100%);background:-o-linear-gradient(45deg, #3B5998 0%,#336699 100%);background:-ms-linear-gradient(45deg, #3B5998 0%,#336699 100%);background:linear-gradient(45deg, #3B5998 0%,#336699 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3B5998', endColorstr='#336699',GradientType=1);-webkit-box-shadow:inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);-moz-box-shadow:inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);box-shadow:inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);}
.nav-title{color:#ffffff !important;font-weight:bold;}
.icon-bar{background-color:white !important;}
.img-circle{border:7px solid #E8E8E8;}
.profile-img-minimal{display:block;width:70px;height:70px;border-radius:10px;border:3px solid #E8E8E8;}
.profile-subtitle-minimal{color:gray;font-size:small;}
.contact-me-title{font-size:16px;text-align:center;margin-bottom:10px;color:#383838;}
.im-captionc{margin-top:-36px;color:black;opacity:0.7;padding-left:12px;padding-top:10px;background-color:#E6E6FA;height:36px;font-size:12px;}
.im-gal{margin-left:auto;margin-right:auto;}
.lb-btn{padding-right:15px;}
@media (max-width:768px){body{min-width:520px;}
}
.nav a{color:white !important;}
.img_item{width:24%;margin-bottom:5px;cursor:move;}
#sidebar-minimal{width:24.2%;}
#contact-me{width:24.2%;}
@media (max-width:1200px){.img_item{width:24.1%;}
    #sidebar-minimal{width:24.1%;}
    #contact-me{width:24.1%;}
}
@media (max-width:992px){.im-captionc{font-size:9px;}
    .img_item{width:23.8%;}
    #sidebar-minimal{width:31.8%;}
    #contact-me{width:31.8%;}
}
@media (max-width:768px){.im-captionc{display:none;}
    .img_item{width:22.8%;}
    #sidebar{display:none;}
    #sidebar-minimal{display:none;}
    #contact-me{display:none;}
    .no-lp{padding-left:14px;}
}

tr:hover {
    background-color: indianred !important;
}

li {
    font-size: 16px !important;
}

.hiding-class {
    display: none;
}

.custom-link {
    color: lightgray !important;
    text-decoration: none !important;
}

.custom-link:hover {
    color: #ffffff !important;
}

ol li {
    font-size: 40px !important;
}